*{
    background-color: #d3d3d3;
}
.musica{
    display: flex;
    align-items: center;
    background: #b9412a;
    border-radius: 20px;
    padding: 10px 15px;
    width: 350px;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);

}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
}
.audio {
    background-color: #b9412a;
    border-radius: 12px;
}

.info {
    flex-grow: 1;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b9412a;
    font-weight: bold;
    cursor: pointer;
}

.bruno {
    width: 50px;
    height: auto;
}

.nos {
    width: 43vh;
    height: auto;
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin-top: 57vh;       
    text-align: center;     
    color: #d10068;
    font-size: 2.5rem;
}